<h1 align="center">Videos</h1>
<div align="center"><%= link_to "New Video", new_video_path %> </div>
<div align="center"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </div>

<div id="videos">
  <% @videos.each do |video| %>
    <%= render video %>
    <p>
      <div align="center"><%= button_to 'destroy', video_path(video), method: :delete %></div>
    </p>
  <% end %>
</div>
